@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
#profile {
  text-align: left;
  font-size: 50px;
  font-family: "Noto Sans Japanese"; }

#profile:after {
  content: "";
  display: block;
  background: #fff;
  width: 18px;
  height: 2px;
  margin-top: 0.2em; }

.profile-img img {
  margin-top: 10px;
  border-radius: 300px;
  border: 5px solid #9bcf2f;
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  max-width: 300px; }

.profile-content {
  text-align: left;
  font-family: "Noto Sans Japanese";
  font-size: 17px;
  padding: 0 5%; }

@media only screen and (max-width: 679px) {
  .profile-img {
    max-width: 50%;
    margin: 0 auto; }
    .profile-img img {
      border-radius: 150px;
      border: 5px solid #9bcf2f;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;
      max-width: 150px; }

  .profile-content {
    padding-top: 20px;
    text-align: center; } }
ul.social-icon {
  margin-top: 20px; }
  ul.social-icon li {
    display: inline-block; }

.social-icon a {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  color: #fff; }

.social-icon i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #9bcf2f;
  text-align: center; }

.social-icon i:before {
  padding: 0;
  line-height: 50px; }

.social-icon a:hover i {
  background: #87b624; }
